<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"] WebApplication</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="@ViewData["Description"]" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="http://ui-grid.info/release/ui-grid.css" type="text/css">
    <!-- include the core styles -->
    <link rel="stylesheet" href="~/lib/alertify.js-0.3.11/themes/alertify.core.css" />
    <link rel="stylesheet" href="~/lib/alertify.js-0.3.11/themes/alertify.default.css" />
    <link rel="stylesheet" href="~/lib/alertify.js-0.3.11/themes/alertify.bootstrap.css" />
    <!-- include a theme, can be included into the core instead of 2 separate files -->
    <script src="~/lib/alertify.js-0.3.11/lib/alertify.min.js"></script>
</head>
<body>

    <div class="wrapper">
        <header role="banner">
            <nav class="container">
                <ul>
                    <li><a asp-controller="Home" asp-action="Index">WebApplication</a></li>
                </ul>
            </nav>
        </header>

        <main class="container">
            <h1>@ViewData["Title"]</h1>
            @RenderBody()
        </main>
    </div>

    <footer>
        <div class="container">
            <span>&copy; @DateTime.Now.Year - WebApplication</span>
        </div>
    </footer>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
